@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: black;
}

._ibg {
  position: relative;
}

._ibg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__wrapper::after {
  content: '';
  display: block;
  height: 10px;
  background: #FFC614;
  width: 100%;
}

.title__img_wrappeer {
  width: 300px;
  height: 100px;
  margin-top: 5px;
}

.title__name {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-top: 10px;
}

.title__subname {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg/49324.jpg") 0 0/contain;
}

.page__blok {
  width: 100%;
}

.page__title {
  padding: 14px;
  background-color: #F8F8F8;
  margin: 8px 1px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  font-weight: 500;
}

.page__carts {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  -ms-grid-rows: (250px)[auto];
      grid-template-rows: repeat(auto, 250px);
  justify-items: center;
}

.first__nav {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
}

.first__nav_sticky {
  top: 50px;
}

.first__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.first__item > a {
  color: #A2A0A0;
}

.first__link {
  text-decoration: none;
  margin: 15px 10px;
  font-size: 20px;
}

.second__nav {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.2);
}

.second__list {
  background: #ffffff;
  height: 45px;
  overflow: auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.second__item {
  margin: 5px;
}

.second__link {
  white-space: nowrap;
  text-decoration: none;
  border: solid 2px #A2A0A0;
  border-radius: 5px;
  margin: 4px 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}

.second__link_activ {
  border: solid 2px #FFC614;
  color: #FFC614;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  background: #eeeeeeee;
}

.cart__img-wrapper {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart__img {
  width: 100%;
  border-radius: 10px;
  height: 10%;
  max-width: 290px;
}

.cart__item_dish {
  margin-top: 7px;
}

.cart__item_beer {
  display: none;
}

.cart__item_beerPrise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart__item_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart__item_title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}

.cart__item_pw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart__item_pw-beer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #FFC614;
  border-radius: 5px;
  width: 150px;
  padding: 5px 0;
}

.cart__item_pw-beer :last-child {
  padding-right: 14px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #212121;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 25%;
  width: 100%;
  height: 300px;
  background: url("../img/bg/beer.gif") no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*# sourceMappingURL=style.css.map */