@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Raleway:wght@300;400;700&display=swap');
 /*font-family: 'Chelsea Market', cursive; font-family: 'Raleway', sans-serif;*/

 /*font-family: 'Chelsea Market', cursive; font-family: 'Raleway', sans-serif;*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	font-weight:400;
	font-family: 'Raleway', sans-serif;	
}
.wrapper {	
}
.page {
		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;			
		}
		&__blok {			
		}
		&__title {
			font-size: 18px;
			margin: 5px;			
		}
		&__carts {
			display: grid;
			grid-gap: 15px;  
   		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    		grid-template-rows: repeat(auto, 250px);  
			justify-items: center;		
		}
}
.title {
	margin: 5px auto;
	width: 100px;
}
.nav {
		&__mainblok {		
			
		}
}
.first {
		&__nav {	
			//transition: all 0.5s linear 0s;				
			
			&_sticky{				
		//position: sticky;			
		//	top:10px; 
			}
		}
		&__list {
			display: flex;
			list-style-type: none;
			align-items: center;
			justify-content: space-between;
			width: 80%;
			height: 30px;
			background-color: aliceblue;	
			margin: 0 auto;	
			border-radius: 5px;
		}
		&__item {
			margin: 2px 10px;			
		}
		&__link {
			text-decoration: none;
		}
}
.second {	
		&__nav {		
			transition: all 0.5s linear 0s;		
			position: sticky;
			//top: 5px;
			
			&_sticky{
				//
				//top:33px;
			}
		}
		&__list {
			background: wheat;
			border-radius: 10px;
			width: 90%;
			margin: 5px auto;
			overflow: auto;
			list-style-type: none;
			display: flex;			 
		}
		&__item {
			margin: 4px 10px;
			
		
		}
		&__link {
			white-space:nowrap;
			text-decoration: none;
			&_activ{
				border-radius: 5px;
				border: solid 1px black;
			}			
		}
}
.cart {
	display: flex;
	border-radius: 5px;	
	border:  2px solid;
	padding: 0 5px;
	margin: 0 10px;
	justify-content: space-around;	
	height: 160px;

		&__img-wrapper {			
			width: 50%;
			align-self: center;
		
		}
		&__img {
			width: 100%;
		border-radius: 10px;	
			height: 10%;
	
		}
		&__item {
			&_dish{
				margin-top: 7px;
			}
			&_beer{
				display: flex;
				justify-content: space-evenly;
				
			}
			&_sab {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
						
			}
			&_row{
			}
			&_title {
				margin-top: 7px;
				font-size: 18px;
			}
			&_weight {
			}

			&_price {
			}

			&_rew {
			}
			&_pw{
				display: flex;
				justify-content: space-around;				
			}
			&_pw-beer{
				display: flex;
				flex-direction: column;
				:last-child{
					padding-right: 14px;
				}
				
			}
		}
}
@media screen {
	
}
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	/* фоновый цвет */
	background: #e0e0e0;
	z-index: 1001;
 
 
 &__image {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
 }
}
 
 @keyframes preloader-rotate {
	100% {
	  transform: rotate(360deg);
	}
 }
 
 .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
 }
 
 .loaded .preloader {
	display: none;
 }
